<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.app-album.we-funk"
    versionCode = "10"
    version     = "1.0.2" >


  <name>We Funk App-Album</name>

  <description>
      App-album by French Fries
  </description>

  <platform name="android">
    <icon src="icon.png" />
  </platform>

</widget>
